/* Tools ============================================================================================================ */

.tig_street_autocomplete {
    position: relative;
}

.tigJqueryUiClass {
    max-width: 100%;
}

.tig_hidden {
    display: none;
}

.ui-autocomplete {
    z-index: 950;
}

.ui-autocomplete-loading {
    background:url('../images/indicator.gif') no-repeat right center !important;
}

.tigJqueryUiClass.ui-corner-all a {
    position: relative;
    border: 1px solid white;
    float: left;
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    cursor: pointer;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    text-decoration: none;
    box-sizing: border-box;
}

.ui-menu .ui-menu-item {
    margin: 0;
    display: block;
}

input._disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* Default: Magento Luma checkout =================================================================================== */

.tig-postcode-field-group {
    float: left;
    width: 100%;
}

.tig-postcode-field-group .field {
    margin: 0 10px 20px 0;
    width: 100%;
    max-width: 30%; /* IE Fallback */
    max-width: calc(100%/3 - 10px);
    float: left;
}

.tig-postcode-field-group .field:last-child {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: calc(100%/3);
}

.tig-postcode-field-group .tig-postcode-be {
    max-width: calc(46% - 5px);
}

.tig-postcode-field-group .tig-housenumber-be {
    max-width: 28%;
}

.address .tig-postcode-field-group .tig-housenumber-addition-be {
    max-width: 22%;
}

.tig-postcode-field-group .field span {
    overflow: hidden;
    max-width: 70%;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align :bottom;
}

.tig-postcode-field-group .field .control {
    margin-top: 5px;
}

/* Validation message */

.tig-postcode-validation-message {
    float: left;
    display: none;
    width: 100%;
    color: #e02b27;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: -12px;
    border: 1px solid;
    padding: 10px;
    background: #f9f9f9;
    box-sizing: border-box;
    white-space: normal;
}


.tig-postcode-field-group .field.tig-postcode-full-width {
    max-width: 100%;
}

/* Account Address Edit Page ============================================================================================ */
.tig-postcode-field-group-account .field span {
    max-width: 100%;
}

.tig-postcode-field-group-account .field:last-child,
.tig-postcode-field-group-account .field {
    margin-bottom: 0;
}

.tig-postcode-field-group-account .field.tig-housenumber-addition-be {
    max-width: 22%;
}

/* Required */

.tig-postcode-field-group .field._required>.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

.tig_zipcodezone_autocomplete .control {
    position: relative;
}

.tig-autocomplete-result-city {
    position: absolute;
    top: 6.5px;
    left: 46px;
    color: #ccc;
    max-width: 100px;
    white-space: nowrap;
    pointer-events: none;
}

/* Magento Blank checkout =========================================================================================== */

/* Disable float - which is used in Luma */

.blank.tig-postcode-field-group {
    float: none;
    width: auto;
    display: block;
}

.blank.tig-postcode-field-group .field {
    width: auto;
    float:none;
    display: inline-block;
    max-width: 30%; /* IE Fallback */
    max-width: calc(100%/3 - 10px);
}

.blank.tig-postcode-field-group .tig-postcode-be {
    max-width: calc(50% - 5px);
}

.blank.tig-postcode-field-group .tig-housenumber-be {
    max-width: 25%;
}

.address .blank.tig-postcode-field-group .tig-housenumber-addition-be {
    max-width: 22%;
}

.blank.tig-postcode-validation-message {
    float:none;
}

/* Desktop exceptions */

@media screen and (min-width: 768px){
    .blank.tig-postcode-field-group {
        margin-left: 25.8%;
        margin-bottom: 10px;
    }

    .blank.tig-postcode-validation-message {
        margin-left: 25.8%;
        width: 74.2%;
        margin-bottom: 20px;
    }
}

/* Mage Plaza checkout ============================================================================================== */
.tig-postcode-field-group.mp-12 .field:last-child {
    width: 30%;
}

/* Rubic Clean checkout ============================================================================================= */
.danslo.tig-postcode-field-group {
    margin: 4px 0;
}

.danslo.tig-postcode-field-group .field {
    max-width: 100%;
    margin: 0 10px 4px 0;
}

.danslo.tig-postcode-field-group .field:last-child {
    max-width: calc(100%);
}

/* Amasty Plaza checkout ============================================================================================ */
.amasty.tig-postcode-field-group {
    margin-left: 8px;
}

.amasty.tig-postcode-field-group .field:last-child {
    max-width: calc(91%/3);
}

.amasty.tig-postcode-validation-message {
    margin-left: 8px;
    width: calc(97%);
}

/** Onestepcheckout ================================================================================================= */
.onestepcheckout.tig-postcode-field-group {
    width: calc(100% - 8px);
}
