/* Tools ============================================================================================================ */

.tig_hidden {
    display: none;
}

.ui-autocomplete-loading {
    background:url('../images/indicator.gif') no-repeat right center !important;
}

/* Default: Magento Luma checkout =================================================================================== */

.tig-postcode-field-group {
    float: left;
    width: 100%;
}

.tig-postcode-field-group .field {
    margin: 0 10px 20px 0;
    width: 100%;
    max-width: 30%; /* IE Fallback */
    max-width: calc(100%/3 - 10px);
    float: left;
}

.tig-postcode-field-group .field:last-child {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: calc(100%/3);
}


.tig-postcode-field-group .field span {
    overflow: hidden;
    max-width: 70%;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align :bottom;
}

.tig-postcode-field-group .field .control {
    margin-top: 5px;
}

/* Validation message */

.tig-postcode-validation-message {
    float: left;
    display: none;
    width: 100%;
    color: #e02b27;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: -12px;
    border: 1px solid;
    padding: 10px;
    background: #f9f9f9;
    box-sizing: border-box;
    white-space: normal;
}

/* Required */

.tig-postcode-field-group .field._required>.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

/* Magento Blank checkout =========================================================================================== */

/* Disable float - which is used in Luma */

.blank.tig-postcode-field-group {
    float: none;
    width: auto;
    display: block;
}

.blank.tig-postcode-field-group .field {
    width: auto;
    float:none;
    display: inline-block;
    max-width: 30%; /* IE Fallback */
    max-width: calc(100%/3 - 10px);
}

.blank.tig-postcode-validation-message {
    float:none;
}

/* Desktop exceptions */

@media screen and (min-width: 768px){
    .blank.tig-postcode-field-group {
        margin-left: 25.8%;
        margin-bottom: 10px;
    }

    .blank.tig-postcode-validation-message {
        margin-left: 25.8%;
        width: 74.2%;
        margin-bottom: 20px;
    }
}

/* Mage Plaza checkout ============================================================================================== */
.tig-postcode-field-group.mp-12 .field:last-child {
    width: 30%;
}

/* Rubic Clean checkout ============================================================================================= */
.danslo.tig-postcode-field-group {
    margin: 4px 0;
}

.danslo.tig-postcode-field-group .field {
    max-width: 100%;
    margin: 0 10px 4px 0;
}

.danslo.tig-postcode-field-group .field:last-child {
    max-width: calc(100%);
}

/* Amasty Plaza checkout ============================================================================================ */
.amasty.tig-postcode-field-group {
    margin-left: 8px;
}

.amasty.tig-postcode-field-group .field:last-child {
    max-width: calc(91%/3);
}

.amasty.tig-postcode-validation-message {
    margin-left: 8px;
    width: calc(97%);
}